doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(http-equiv="Cache-control" content="public")
    body
        .fullscreen
            include preloader
            .contentWrap
                .container
                    .gridWrap
                        .gridItem(data-type="design" data-client="westcall" data-key="cake" class="image" )
                        .gridItem(data-type="design" data-client="panimport" data-key="ship" class="image")
                        .gridItem(data-type="design" data-client="pomegranate" data-key="surf" class="image")
                        .gridItem(data-type="design" data-client="redkos" data-key="funny" class="image")
                        .gridItem(data-type="logo" data-client="japonets" data-key="japan" class="image")
                        .gridItem(data-type="design" data-client="westcall" data-key="westcallsite" class="image")
                        .gridItem(data-type="design" data-client="oleg-pogudin" data-key="pigudinsite" class="image")
                        .gridItem(data-type="solutions" data-client="mt-service" data-key="mtgame" class="image")
                        .gridItem(data-type="illustrations" data-client="gik" data-key="illustrationgik" class="image")
                        .gridItem(data-type="icons" data-client="skladonline" data-key="townicon" class="image")
                        .gridItem(data-type="icons" data-client="westcall" data-key="simpleicons" class="image")
                        .gridItem(data-type="design" data-client="westcall" data-key="knowledge" class="image")
            include menu
            nav
                .logo(onclick="window.location.href = '/'")
                    img(src="/res/logo.svg")
                .phone
                    .phoneBox PhoneNubmber
                .burger
                    .iconBorder
                    .iconBody
            .navigationBar
                .navLR
                    include arrow
                .navTB
                    include arrow
    script(type="text/javascript" defer src="/js/vendor/jquery-3.2.1.min.js")
    script(type="text/javascript" defer src="/js/vendor/wheel-indicator.min.js")
    script(type="text/javascript" defer src="/js/variable.min.js")
    script(type="text/javascript" defer src="/js/gridInit.min.js")
    script(type="text/javascript" defer src="/js/reciveData.min.js")
    script(type="text/javascript" defer src="/js/eventHandler.min.js")
    script(type="text/javascript" defer src="/js/animate.min.js")
    script(type="text/javascript" defer src="/js/getContent.min.js")
    script(type="text/javascript" defer src="/js/main.min.js")
    script(type="text/javascript" defer src="/js/ui.min.js")
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44810509 = new Ya.Metrika({ id:44810509, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44810509" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
link(type="text/css" rel="stylesheet" href="/css/main.css")
