//
   Created by BreakPoint on 18.05.17.

.fullScreen
    .contentWrap
    .aboutBar
        .logo
        .contacts
        .menuBtn
    .navigationBar
        .leftBtn
        .topBtn
        .rightBtn
        .botBtn