doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css" rel="stylesheet" href="css/main.css")
    body
        .fullScreen
            include main
                .aboutBar
                    .logo
                    .contacts
                    .menuBtn
                .navigationBar
                    .navLR
                        include arrow
                    .navTB
                        include arrow
<<<<<<< HEAD
    script(type="text/javascript" defer src="js/vendor/jquery-3.2.1.min.js")
    script(type="text/javascript" defer src="js/main.js")
    script(type="text/javascript" defer src="js/eventHandler.js")
=======
            .container
                img.image(src="//le-dantu.ru/netcat_files/img/lg/design_westcall_lg.png")
                .text-box
                img.image(src="//le-dantu.ru/netcat_files/img/lg/design_pogudin_lg.png")
                .text-box
>>>>>>> master
