doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css" rel="stylesheet" href="css/main.css")
    body
        .fullscreen
            .contentWrap
                .container
                    .gridWrap
                        .gridItem(data-type="design" class="image")
                        .gridItem(data-type="icons" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="solutions" class="image")
                        .gridItem(data-type="logo" class="image")
                        .gridItem(data-type="solutions" class="image")
                        .gridItem(data-type="logo" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="icons" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="design" class="image")
                        .gridItem(data-type="solutions" class="image")
            .aboutBar
                .logo
                .contacts
                .menuBtn
            .navigationBar
                .navlR
                    include arrow
                .navTB
                    include arrow
    script(type="text/javascript" defer src="/js/vendor/jquery-3.2.1.min.js")
    script(type="text/javascript" defer src="/js/vendor/wheel-indicator.js")
    script(type="text/javascript" defer src="/js/variable.js")
    script(type="text/javascript" defer src="/js/gridInit.js")
    script(type="text/javascript" defer src="/js/reciveData.js")
    script(type="text/javascript" defer src="/js/eventHandler.js")
    script(type="text/javascript" defer src="/js/getContent.js")
    script(type="text/javascript" defer src="/js/main.js")
