doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(type="text/css" rel="stylesheet" href="/css/main.css")
    body
        .fullscreen
            .contentWrap
                .container
                    .gridWrap
                        .gridItem(data-type="design" class="image")
                        .gridItem(data-type="icons" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="solutions" class="image")
                        .gridItem(data-type="logo" class="image")
                        .gridItem(data-type="solutions" class="image")
                        .gridItem(data-type="logo" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="icons" class="image")
                        .gridItem(data-type="illustrations" class="image")
                        .gridItem(data-type="design" class="image")
                        .gridItem(data-type="solutions" class="image")
            .aboutBar
            nav
                .logo
                    img(src="/res/logo.svg")
                .burger(onclick="UI.burger.trigger()")
                    img(src="/res/burger.svg")
            .burgerMenu
                .burger-nav
                    p &nbsp;
                    .burger-close(onclick="UI.burger.trigger()")
                        img(src="/res/close.svg")
                ul
                    li портфолио
                    li контакты
                    li о нас
            .navigationBar
                .navLR
                    include arrow
                .navTB
                    include arrow
    script(type="text/javascript" defer src="/js/vendor/jquery-3.2.1.min.js")
    script(type="text/javascript" defer src="/js/vendor/wheel-indicator.js")
    script(type="text/javascript" defer src="/js/variable.js")
    script(type="text/javascript" defer src="/js/gridInit.js")
    script(type="text/javascript" defer src="/js/reciveData.js")
    script(type="text/javascript" defer src="/js/eventHandler.js")
    script(type="text/javascript" defer src="/js/getContent.js")
    script(type="text/javascript" defer src="/js/main.js")
    script(type="text/javascript" defer src="/js/ui.js")
    |<!-- Yandex.Metrika informer --> <a href="https://metrika.yandex.ru/stat/?id=44810509&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/44810509/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="44810509" data-lang="ru" /></a> <!-- /Yandex.Metrika informer --> <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44810509 = new Ya.Metrika({ id:44810509, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44810509" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
