//
   Created by BreakPoint on 02.06.17.

.menuWrap.close
    .burgerHeader
        .menuOne
            .linkMenu
                .link1
                    a(onclick="initFirstBlock('portfolio')") Портфолио
                .link2
                    a(onclick="initFirstBlock('contacts')") Контакты