//
   Created by BreakPoint on 02.06.17.

.menuWrap.close
    .burgerHeader
        .menuOne
            .linkMenu.columnOne
                .link1
                    a(href='newsite.le-dantu.ru') Главная
                .link2
                    a(href='newsite.le-dantu.ru/portfolio') Портфолио
                .link3
                    a(href='newsite.le-dantu.ru/contacts') Контакты
                //.link4 Работа в le-dantu
            .linkMenu.columnTwo
                .link5 Обучение
                .link6 Процесс работы
                .link7 О нас
        .menuTwo
            div.trash
        .menuThree
            div.contacts