//
   Created by BreakPoint on 02.06.17.

.menuWrap.close
    .burgerHeader
        .menuOne
            ul.linkMenu.columnOne
                li Главная
                li Портфолио
                li Процесс работы
                li Работа в le-dantu
            ul.linkMenu.columnTwo
                li Обучение
                li Контакты
                li О нас
        .menuTwo
            div.trash
        .menuThree
            div.contacts