//
   Created by BreakPoint on 02.06.17.

.menuWrap.close
    .burgerHeader
        .menuOne
            .linkMenu
                .link1
                    a(onclick="toggleMenu(); linksFlag = true; currentClient = false; window.history.pushState('', '', '/portfolio'); initFirstBlock('portfolio'); ") Портфолио
                .link2
                    a(onclick="toggleMenu(); linksFlag = true; currentClient = false; window.history.pushState('', '', '/contacts');  initFirstBlock('contacts', 'contacts');") Контакты