//
   Created by BreakPoint on 05.06.17.

.wrapPreloader
    .preloader
        .lines
            //.line.line-1
            .line.line-2
            //.line.line-3
        //.loading-text Пожалуйста</br>подождите