@font-face {
	font-family: Roboto-Light;
	src: url(/css/fonts/Roboto-Light.eot);
	src: url(/css/fonts/Roboto-Light.eot?#iefix) format("embedded-opentype"), url(/css/fonts/Roboto-Light.woff) format("woff"), url(/css/fonts/Roboto-Light.ttf) format("truetype"), url(/css/fonts/Roboto-Light.svg#robotolight) format("svg")
}

@font-face {
	font-family: Roboto-Bold;
	src: url(/css/fonts/Roboto-Bold.eot);
	src: url(/css/fonts/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(/css/fonts/Roboto-Bold.ttf) format("truetype"), url(/css/fonts/Roboto-Bold.svg#robotoBold) format("svg")
}

@font-face {
	font-family: Roboto-Thin;
	src: url(/css/fonts/Roboto-Thin.eot);
	src: url(/css/fonts/Roboto-Thin.eot?#iefix) format("embedded-opentype"), url(/css/fonts/Roboto-Thin.woff) format("woff"), url(/css/fonts/Roboto-Thin.ttf) format("truetype"), url(/css/fonts/Roboto-Thin.svg#robotoThin) format("svg")
}

@font-face {
	font-family: RobotoSlab-Light;
	src: url(/css/fonts/RobotoSlab-Light.eot);
	src: url(/css/fonts/RobotoSlab-Light.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RobotoSlab-Light.woff) format("woff"), url(/css/fonts/RobotoSlab-Light.ttf) format("truetype"), url(/css/fonts/RobotoSlab-Light.svg#RobotoSlabLight) format("svg")
}

@font-face {
	font-family: RobotoSlab-Thin;
	src: url(/css/fonts/RobotoSlab-Thin.eot);
	src: url(/css/fonts/RobotoSlab-Thin.eot?#iefix) format("embedded-opentype"), url(/css/fonts/RobotoSlab-Thin.woff) format("woff"), url(/css/fonts/RobotoSlab-Thin.ttf) format("truetype"), url(/css/fonts/RobotoSlab-Thin.svg#RobotoSlabThin) format("svg")
}

body {
	font-size: 12pt;
	font-family: Roboto-Thin, Arial, sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	background:-webkit-linear-gradient(#3c3058 11.26%, #e849ce 100%);
}

html {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

.fullScreen {
	margin: -8px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;

}
