@keyframes navItems {
	from { transform: scale(1.1, 1.1) }
	50% { transform: scale(-1) }
	to { transform: scale(1.1, 1.1) }
}

body {
	font-size: 12pt;
}

.fullScreen {
	margin: -8px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 2em);
	height: 6em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: {
		top: 0.5em;
		bottom: 0.5em;
		left: 1em;
		right: 1em;
	}
	.logo, .burger {
		z-index: 1488;
		height: 4em;
		img {
			height: 100%;
			transition: all linear 0.5s;
			&:hover {
				cursor: pointer;
				//transform: scale(1.1,1.1);
				animation: navItems 2s infinite ease-in-out;
			}
		}
	}
}

.contentWrap {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.gridWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	.gridItem {
		width: 25%;
	}
	.gridItem:nth-child(even) {
		background: #ccc;
	}
	.gridItem:nth-child(odd) {
		background: #eee;
	}
}

.container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.image {
    width: 100%;
    height: 100%;
	background-position: 50% 50% !important;
	background-size: cover !important;
}

.navigationBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	.navLR  {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		z-index: 101;
	}

	.navTB {
		position: absolute;
		top: 0;
		left: 40%;
		height: 100%;
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 102;

		.left {
			transform: rotate(90deg);
		}

		.right {
			transform: rotate(90deg);
		}
	}

}

@import "arrow";
