body {
	font-size: 12pt;
	font-family: sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	background:-webkit-linear-gradient(#3c3058 11.26%, #e849ce 100%);
}

html {
	width: 100%;
	height: 100%;
}

.fullScreen {
	margin: -8px;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;

}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 2em);
	height: 6em;
	padding: {
		top: 0.5em;
		bottom: 0.5em;
		left: 1em;
		right: 1em;
	}

	.burger {
		position: absolute;
		width: 48px;
		height: 48px;
		z-index: 1488;
		top: 20px;
		right: 25px;
		transition-duration: 0.5s;

		.icon {
			position: absolute;
			height: 6px;
			width: 30px;
			top: 30px;
			background-color: #212121;
			transition-duration: 0.5s;

			&:before{
				position: absolute;
				top: -12px;
				transition-duration: 0.5s;
				width: 30px;
				height: 6px;
				background-color: #212121;
				content: "";
			}

			&:after{
				position: absolute;
				top: 12px;
				transition-duration: 0.5s;
				width: 30px;
				height: 6px;
				background-color: #212121;
				content: "";
			}

			&:hover {
				cursor: pointer;
			}
		}

		&.open {
			z-index: 3001;
			.icon {
				transition-duration: 0.5s;
				transform: rotateZ(-180deg);
				background-color: #dcdcdc;

				&:before{
					transform: rotateZ(-45deg) scaleX(0.75) translate(-18px, -5px);
					background-color: #dcdcdc;
				}

				&:after{
					transform: rotateZ(45deg) scaleX(0.75) translate(-18px, 5px);
					background-color: #dcdcdc;
				}
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	.logo{
		position: absolute;
		width: 60px;
		height: 60px;
		top: 22px;
		left: 20px;
		z-index: 1400;
		img {
			height: 100%;
			transition: all linear 0.5s;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.contentWrap {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.gridWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	.gridItem {
		cursor: pointer;
		width: 25%;
		height: 33.33%;
		@media screen and ( max-width: 768px) {
			width: 50%;
			height: 33.33%;
		}
	}
}

@media screen and ( max-width: 768px) {
	.gridItem:nth-child(n+7) {
		display: none;
		widght: 0;
	}
}

.container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.image {
    width: 100%;
    height: 100%;
	background-position: 50% 50% !important;
	background-size: cover !important;
}

.navigationBar {

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.navLR  {

		.left {
		    cursor: pointer;
		    display: block;
		    float:left;
		    position: absolute;
			top:0;
			bottom:0;
			margin-top:auto;
			margin-bottom: auto;
		    left: 0;
		    z-index: 1000;
		}

		.right {
		    cursor:  pointer;
		    display: block;
		    float:   right;
		    position: absolute;
			top:0;
			bottom:0;
			margin-top:auto;
			margin-bottom: auto;
		    right: 0;
		    z-index: 1000;
		}

	}

	.navTB {

		.left {
			z-index: 1000;
			top: 0;
			width: 100%;
			position: absolute;
			display: block;
			svg {
				transform: rotate(90deg);
			}
		}

		.right {
			z-index: 1000;
			bottom: 0;
			width: 100%;
			position: absolute;
			display: block;
			svg {
				transform: rotate(90deg);
			}
		}
	}

}

.header {
    color: rgba(255,255,255, 0);
    position: absolute;
    padding-top: 200px;
    padding-right: 30px;
    width: 100%;
    text-align: center;
    font-size: 4.3em;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2000;
    opacity: 0;
}

.subheader {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 180px;
    font-size: 2em;
    text-align: center;
    color: rgba(255,255,255, 1);
    z-index: 2000;
    right: 0;
    opacity: 0;
    padding-right: 15px;
}

.menuWrap {
	display: none;
	transition: all 700ms ease;
	background: rgba(125, 125, 125, 0);

	.menuOne {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex-wrap: wrap;
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		height: 20%;
		transition: all 700ms ease;

		ul.columnOne {
			transition: all 700ms ease;
		}

		ul.columnTwo {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			transition: all 700ms ease;
		}
	}

	.menuTwo {
		position: absolute;
		width: 60%;
		top: 40%;
		left: 0;
		height: 60%;
	}

	.menuThree {
		position: absolute;
		width: 40%;
		top: 40%;
		right: 0;
		height: 60%;
	}

	ul {
		display: inline-block;
		line-height: 1.5em;

		li {
			margin-top: 0.75em;
			margin-bottom: 0.75em;
		}

	}

	&.open {
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #ccc;
		z-index: 3000;
		position: absolute;
		background: rgba(0, 0, 0, 0.8);

		.menuOne {

			ul.columnOne {
				transition-duration: 0.5s;
				opacity: 1;
				transform: translate(-100px, 0px);
			}

			ul.columnTwo {
				transition-duration: 0.5s;
				opacity: 1;
				transform: translate(-50px, 0px);
			}

		}
	}
}

@import "arrow";
@import "animate";